*{
    margin: 0;
    padding: 0;
}
/* imported font families are usable through font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
body{
   
}
/* ultimate debuggin tool border: red solid 2px; */
/* nav section */
nav { 
    /* display flex enables movement of nav bar */
    margin: 0px;
    padding: 30px; /* increase size of nav box */
    display: flex;
    justify-content: space-evenly; 
    height: 1.25em; 
    
}

nav ul { 
    /* removes bullet points from list element */
    list-style-type: none;
    border-bottom: solid 1px rgba(240, 128, 128, 1);
    padding-bottom: 35px;
}

/* inline flex attempts over inline-block */
nav li { 
    height: 25px;
    border-right: 1px solid #aaa;
    padding: 5px 60px;
    display: inline-flex;
    /* if flex-direction used instead of inline-flex transition no longer works?*/
}

li:last-child {
    border-right: none;
}

nav li a { 
    /* decoration removes underline from hyperlinks, section also sets colour and text for nav elements*/
    color: rgba(187, 184, 184, 0.986);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    
}

li a:hover {
    /* changes colour of hovering text to a darker tone, transition slows process. */
    transform: scale(1.2);
    color: rgb(150, 81, 81);
    transition: all 0.5s ease;
    /* scale increase text size on hover by a factor of 1.3 thanks to https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale */
}

li.current a { 
    /* shows which page is currently open by bolding text and changing text colour */
    font-weight: bold;
    color: #000000;
}
/* nav section finish */

/* container area */
.containerindex1, .containerjobs1 { 
    /* container index 1 is container for entire content area */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0 1.2em;
    font-size: 1em;
    
}
/* Content area font etc */
/* general */
.containerindex1 p, .containerjobs1 p, .containerjobs1 li {
    font-family: 'Montserrat', sans-serif;
    padding-right: 1em;
    width: auto;
}

/* index */
.containerindex1 p {

}
/* jobs */
.containerjobs1 article {
    width: 450px;
}
/* styles jobs page more inline with landing/ review pages */
.containerjobs1 li {
    margin: 0px 20px;
    /* moves li elements more inline with text, bullet points too close to border from articles to the left */
}

/* general article styling */
Article {
   /* border-right: solid 1px rgba(187, 184, 184, 0.986); */
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    width: 20em;
    
}


/* images section */
article img {
    width: 19em;
}
/* headlines / h1,2,3 section area */
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    border-bottom: solid 1px rgba(240, 128, 128, 1);
    margin-right: 100px;
    margin-bottom: 5px;
    /* sets border length shorter than full element */
}

/* header section */
header {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: 0.8em;
}
/* footer section */
footer {
    margin: 10px 7em;
    border-top: solid 1px rgba(240, 128, 128, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
}

footer ul {
    margin-top: 3em;
    list-style-type: none;
    order:1;
}

footer li a {
    text-decoration: none;
    color: #000;
    /* removes hyperlink decoration from anchor tags */
}

/* mobile pixel width-max = 480px min = 320  */
@media (max-width:480px){
    
    .containerindex1, .containerjobs1, header, footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: auto;
    }
    nav li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        border: 0px;
        font-size: 0.8em;
    }

    nav ul {
        border: 0px;
    }

    header { 
        margin: 150px 10px 0px 10px;
        padding-bottom: 5px;
        font-size: 1em;
        border-bottom: solid 1px rgba(240, 128, 128, 1);
    }

    article{ 
        width: 20em;
        margin-top: 2em;
        border-bottom: dotted 1px #000;
        padding-bottom: 1em;
        
    }
    article img {
        align-items: center;
        margin: 5px 0px;
    }
    li.current a {
        border-bottom: solid 1px rgba(240, 128, 128, 1);
    }
    .containerjobs1 article {
        margin: 0px 5px;
        width: 20em;
    }
}
/* header fixes for reduced screen size */
@media (min-width: 481px) and (max-width: 720px){
    header {
        font-size: 1.5em;
    }
}

@media (min-width: 721px) and (max-width: 1024px){
    header { 
        font-size: 2em;
    }
}
/* tablet pixels width-max = 1024 min = 768 */
/* in progress */
/* @media (min-width: 481px) and (max-width: 1024px){
    .containerindex1{
        flex-wrap: wrap;
    }
    article {
        width: 15em;
} */


/* fix for article borders geting mashed with media queryies */
@media (min-width: 1025px){
    Article {
        border-right: solid 1px rgba(187, 184, 184, 0.986);
    }

    article:last-child {
        border-right:none;
    /* prevents border section on final element in content area */
    }
}
