*{
    margin: 0;
    padding: 0;
}
/* imported font families are usable through font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

/* ultimate debuggin tool border: red solid 2px; */
/* nav section */
nav { 
    /* display flex enables movement of nav bar */
    margin: 0px;
    padding: 30px; /* increase size of nav box */
    display: flex;
    justify-content: space-evenly; 
    height: 1.25em; 
    
}

nav ul { 
    /* removes bullet points from list element */
    list-style-type: none;
    border-bottom: solid 1px rgba(240, 128, 128, 1);
    padding-bottom: 40px; 
}

/* inline flex attempts over inline-block */
nav li { 
    height: 25px;
    border-right: 1px solid #aaa;
    padding: 5px 60px;
    display: inline-flex;
    /* if flex-direction used instead of inline-flex transition no longer works?*/
}

li:last-child {
    border-right: none;
}

nav li a { 
    /* decoration removes underline from hyperlinks, section also sets colour and text for nav elements*/
    color: rgba(187, 184, 184, 0.986);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    
}

li a:hover {
    /* changes colour of hovering text to a darker tone, transition slows process. */
    transform: scale(1.2);
    color: rgb(150, 81, 81);
    transition: all 0.5s ease;
    /* scale increase text size on hover by a factor of 1.2 thanks to https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale */
}

li.current a { 
    /* shows which page is currently open by bolding text and changing text colour */
    font-weight: bold;
    color: #000000;
}
/* nav section finish */

/* container area */
.containerindex1, .containerjobs1 { 
    /* container index 1 is container for entire content area, container jobs 1 is for dual column pages, jobs and tutorials, enables different widths, could just set different classes in future */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0 1.2em;
    font-size: 1em;
    
}
/* Content area font etc */
/* general */
.containerindex1 p, .containerjobs1 p, .containerjobs1 li {
    font-family: 'Montserrat', sans-serif;
    padding-right: 1em;
    width: auto;
}

/* increases spacing between paragraphs inside articles, results in better final display */
article p {
    margin: 5px 0px;
}

/* index */



/* jobs */
.containerjobs1 article {
    width: 450px;
}
/* styles jobs page more inline with landing/ review pages */

.containerjobs1 li {
    margin: 10px 20px;
    list-style-type: lower-roman;
/* moves li elements more inline with text, bullet points too close to border from articles to the left, also changes bullet points in line with content from glossary pages */
}
/* Glossary extras */
/* on hover these classes have transitional effects based on there content */
#Wavy:hover {
    text-decoration: wavy underline rgb(21, 245, 21);
    transition: 1s ease-in-out
}
#change:hover {
    color: rgb(252, 215, 6);
    transform: scale(1.5);
    transition: all 2s ease-in-out;
}

article #spin:hover { 
    transform: rotate(180deg);
    transition: 1s ease-in-out;
}
/* spaces out text in glossary articles between seperate paragraphs */
.ArticleG p {
    margin-bottom: 5px;
}

/* tutorial section or use jobs containers ? */

/* general article styling */
Article {
   /* border-right: solid 1px rgba(187, 184, 184, 0.986); */
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    width: 20em;
}
/* video area */
article iframe {
    height: 15em;
    width: 25em;
    border: #000 solid 1px;
    /* border highlights edge of video better, fits still of page better */
}
/* images section */
article img {
    width: 19em;
    margin: 5px 0px;
}
.logo {
    width: 175px;
    height: 175px;
    display: flex;
    align-self: flex-end;
}
/* images that span articles /*

/* headlines / h1,2,3 section area */
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    border-bottom: solid 1px rgba(240, 128, 128, 1);
    margin-right: 100px;
    margin-bottom: 5px;
    /* sets border length longer than full text element */
}

/* header section */
header {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: 0.8em;
}
/* footer section */
footer {
    margin: 10px 7em;
    border-top: solid 1px rgba(240, 128, 128, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
}
/* removes bullet points from social links */
footer ul {
    margin-top: 3em;
    list-style-type: none;
    order:0;
    /* pretty sure order is redundant code due to other fixes */
    width: 15em;
    /* width prevents li elements from stacking in mobile and small tablet mode */
}
/* added to show difference between social links and title + buisness address and title */
.footertitle {
    font-weight: bold;
}


footer li a {
    text-decoration: none;
    color: #000;
    /* removes hyperlink decoration from anchor tags */
}
/* added to increase space between list elements within footer, was cramping up list */
footer li {
    margin: 5px 0px;
}


/* mobile pixel width-max = 480px min = 320  */
/* mobile mode */
@media (max-width:480px){
    /* sets flex direction to column from row as before, stacks elements on top of each other */
    .containerindex1, .containerjobs1, header, footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: auto;
    }
    /* nav size reductions for mobile mode, also creates burger style nav */
    nav li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        border: 0px;
        font-size: 0.8em;
    }

    nav ul {
        border: 0px;
    }

    /* border fixes due to margin overlaps on resizing */
    header { 
        margin: 150px 10px 0px 10px;
        padding-bottom: 5px;
        font-size: 0.8em;
        border-bottom: solid 1px rgba(240, 128, 128, 1);
    }

    /* increase article size back up from tablet modes */
    article{ 
        width: 20em;
        margin-top: 2em;
        border-bottom: dotted 1px #000;
        /* helps differentiate between articles in mobile mode */
        padding-bottom: 1em;
        
    }
    /* added for glossary page to help seperate terms */
    .ArticleG p {
        border-bottom: dotted 1px #000;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }
    /* removes double dotted border between seperate articles in glossary page */
    .ArticleG p:last-child {
        border-bottom: none;
    }

    /* fixes image locations into mobile mode, previously stacker onto the left */
    article img {
        align-items: center;
        margin: 5px 0px;
    }

    article iframe {
        width: 19em;
        height: 15em;
    }

    /* adds border underneath nav marker for current page, displays which page you are on similar to full nav as before */ 
    li.current a {
        border-bottom: solid 1px rgba(240, 128, 128, 1);
    }
    
    /* fixes for strange header issues in mobile format on jobs and tutorials pages */
    .containerjobs1 article {
        margin: 20px 5px;
        width: 20em;
    }

    /* aligns footer items together better, more in keeping with style of mobile format */
    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* bigger than mobile / small tablet  greatest size reductions of content areas / fonts etc*/
@media (min-width: 481px) and (max-width: 720px){
    header {
        font-size: 1.3em;
    }
    nav li a {
        font-size: 0.9em;
    }
    nav li {
        padding: 0px 5px;
    }
    article img {
        width: 12em;
    }
        article iframe {
        width: 15em;
        height: 12em;
    }
    article {
        width: 12em;
        font-size: 0.7em;
    }
    /* fixes footer being offset to logo */
    footer, footer ul { 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* tablet but smaller than desktop, generally size reduction of font and elements within the page*/
@media (min-width: 721px) and (max-width: 1024px){
    header { 
        font-size: 1.8em;
    }

    nav li a {
        font-size: 1.3em;
    }

    nav li {
        padding: 0px 15px;
    }

    article img {
        width: 15em;
    }

    article iframe {
        width: 17em;
        height: 15em;
    }

    article {
        width: 15em;
        font-size: 0.9em;
    }
    /* footer logo fix , was hovering over red border on some views */
    footer { 
        padding-top:5px;
    }
    
}

/* fix for article borders geting mashed with media queries, means borders only appear on modes that are not mobile! */
@media (min-width: 481px){
    Article {
        border-right: solid 1px rgba(187, 184, 184, 0.986);
        padding-right: 5px;
    }

    article:last-child {
        border-right:none;
    }

    /* prevents border section on final element in content area */
    }
    /* header and Nav fixes at start of reduced screen size, creates smoother transition*/
@media (min-width: 1025px) and (max-width: 1265px){
    header { 
        font-size: 2.3em;
    }

    nav li a {
        font-size: 1.5em;
    }
    
    nav li {
        padding: 0px 30px;
    }
}
